special-vendored-path/* linguist-vendored
jquery.js linguist-vendored=falseChecking code you didn't write, such as JavaScript libraries, into your git repo is a common practice, but this often inflates your project's language stats and may even cause your project to be labeled as another language.
